/* Light Mode Variables */
$background-color: #ffffff;
$border-color: #b7b7b7;
$secondary-color: #b7b7b7;
$tertiary-color: #14c5a2;
$text-color: #000000;

/* Dark Mode Variables */
$background-color-dark: #000000;
$border-color-dark: #b7b7b7;
$secondary-color-dark: #b7b7b7;
$tertiary-color-dark: #9e7700;
$text-color-dark: #ffffff;

/* Fonts */
$size-paragraph: 1rem;
$size-title: 1.5rem;
$family-text: Inria Sans, sans-serif;
$weight-regular: Regular;
$weight-semibold: Semibold;

/* Grid */
$body-columns: 0.125rem;
$header-columns: 0.1875rem;
$grid-gap: 1.25rem;
$grid-margin: 18.75rem;
